@charset "UTF-8";

@font-face {
    font-family: 'Escoredream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

html * {
	font-family: 'Escoredream';
}

.table-box th, .table-box td {
	border: 1px solid black;
	padding: 10px;
	text-align: center;
}

.btns a, .btns button, .submitBtn {
	padding: 5px;
	border: 2px solid black;
	border-radius: 8px;
	cursor: pointer;
}

.btns a:hover, .btns button:hover, .submitBtn:hover {
	background-color: black;
	color: white;
}